* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box; /* включает padding и border ВНУТРЬ заданной ширины */
}

html {
    height: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    color: white;
    background-color: black;
}

/* ---------- шапка ----------*/

.page_header{
    width: 100%;
    min-height: 900px;
    background-image: url("images/sky_background.png");
    background-size: cover;
    background-position: center;
    padding-top: 47px;
    padding-left: 122px;
    padding-right: 122px;
    overflow: hidden; /* обрезает все, что выходит за пределы шапки*/
}

.navigation{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.mp_logo{
    width: 53px;
    height: 80px;
}

.navigation_list{
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    list-style: none;
}

.navigation_title_main{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 700px;
    gap: 50px;
}


.header_title_mp{
    margin-bottom: 30px;
}

.title_mp{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: fantasy;
    line-height: 1;
}

.header_title_text{
    margin-top: 30px;
}

.title_text{
    font-size: 20px;
    font-weight: 500;
}

.header_main_imgs{
    position: relative;
    width: 500px;
    flex-shrink: 0; /* не сжимается*/
}

.iphone_img{
    display: block;
    width: 500px;
    position: relative; /* чтобы работал z-index */
    z-index: 2; /* больше -> выше по приоритету */
}

.kabel_img{
    position: absolute;
    bottom: -10px;
    left: 35%;
    transform: translateX(-35%);
    width: 350px;
    z-index: 1; /* меньше -> ниже по приоритету (позади) */
}

/* ---------- main - music ----------*/
.page_main{
    flex: 1;
}

.main_music{
    width: 100%;
    min-height: 1024px;
    background-color: #D53005;
    padding-top: 83px;
    padding-left: 122px;
    padding-right: 122px;
    overflow: hidden;
}

.title_music{
    font-size: 30px;
    font-weight: 500;
}

.music_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_music{
    display: flex;
    flex-direction: column;
    gap: 88px;
    padding-top: 10px;
    list-style: none;
}

.buttons_music_main{
    width: 383px;
    height: 83px;
    background: radial-gradient(circle at left, #B13E18, #F3501A);
    padding: 18px 93px; 
    font-size: 30px;
    font-weight: 400;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* тень:  сдвиг_вправо сдвиг_вниз размытие цвет */
    cursor: pointer; /* курсор-рука */
}

.buttons_music_main:hover{
    background: radial-gradient(circle at left, #8d3113, #b93d14);
}

.music_img{
    margin-right: -125px;
}

/* ---------- main - about ----------*/

.main_about{
    width: 100%;
    min-height: 1024px;
    background: linear-gradient(to top, black 90%, #D53005 100%);
    padding-top: 83px;
    padding-left: 122px;
    padding-right: 122px;
    overflow: hidden;
}

.title_about{
    font-size: 30px;
    font-weight: 500;
}

.main_text_about{
    text-align: center;
    padding-top: 358px;
}

.text_about{
    font-size: 30px;
    font-weight: 400;
}

/* ---------- main - store ----------*/

.main_store{
    width: 100%;
    min-height: 1024px;
    background-color: #D53005;
    padding-top: 83px;
    padding-left: 122px;
    padding-right: 122px;
    overflow: hidden;
}

.title_store{
    font-size: 30px;
    font-weight: 500;
}

.buttons_store{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 136px;
    padding-left: 0;
    list-style: none;
}

.button_windows{
    width: 240px;
    height: 60px;
    background-color: black;
    font-size: 20px;
    font-weight: 500;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
}

.button_macos{
    width: 240px;
    height: 60px;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    color: black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
}

.button_windows:hover{
    color: rgb(130, 129, 129);
}

.button_macos:hover{
    background-color: rgb(186, 186, 186);
}

.version_store{
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-top: 135px;
    list-style: none;
}

.title_version{
    font-size: 21px;
    font-weight: 500;
}

.text_version{
    font-size: 18px;
    font-weight: 300;
}

.link_version{
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.store_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ---------- footer ----------*/

.page_footer{
    width: 100%;
    min-height: 536px;
    background: linear-gradient(to top, black 90%, #D53005 100%);
    overflow: hidden;
}

.footer_mp_info{
    display: flex;
    flex-direction: row;
    gap: 147px;
    padding-left: 700px;
    padding-top: 120px;
}

.footer_mp_store, .footer_mp_values, .footer_account{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
}

.footer_mp_store_title, .footer_mp_values_title, .footer_account_title{
    color: white;
    text-decoration: none;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}

.footer_mp_store_vars, .footer_mp_values_vars, .footer_account_vars{
    color: rgba(255, 255, 255, 0.729);
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
}

.footer_title_mp{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: fantasy;
    padding-left: 110px;
    padding-top: 76px;
}

.footer_info{
    padding-left: 110px;
    display: flex;
    flex-direction: row;
    gap: 250px;
    padding-top: 10px;
    list-style: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.729);
}

.footer_info_vars{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.729);
}