@font-face {
    font-family: 'RobotoSlab';
    src: url('fonts/RobotoSlab-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    color: black;
    background-color: white;
    font-family: 'RobotoSlab';
}

/* ---------- шапка ----------*/

.page_header{
    width: 100%;
    min-height: 900px;
    padding-top: 39px;
    overflow: hidden; 
}

.navigation{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}

.navigation_list{
    display: flex; 
    flex-wrap: wrap;
    gap: 43px;
    list-style: none;
}

.navigation_title_main{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.header_logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

.nature_logo_text{
    font-size: 10px;
    text-align: center;
}

.header_button_start{
    width: 216px;
    height: 41px;
    background: white;
    cursor: pointer;
    border-radius: 50px;
    border-width: 1px;
    border-color: #666666;
    margin-right: 60px;
}

.header_button_start:hover{
    background: rgb(218, 218, 218);
}

.header_button_text{
    font-size: 18px;
    padding: 10px 30px; 
}

.header_main{
    width: 100%;
    min-height: 100vh;
    background-image: url("images/pic_surikat.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}

.header_text_1{
    font-size: 100px;
    color: white;
    padding-left: 90px;
    align-self: flex-start; /* текст прижат к левому краю */
}

.header_text_2{
    font-size: 20px;
    color: white;
    padding-right: 100px;
    text-align: right;
    align-self: flex-end; /* текст прижат к правому краю */
}

.header_main_button{
    align-self: center; /* центрирует по горизонтали */ 
}

.header_button_help{
    width: 140px;
    height: 140px;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    outline: 1px solid white;
    outline-offset: 10px;
}

.header_button_help_text{
    font-size: 22px;
    color: #BF632F;
}

.header_button_help:hover{
    background: rgb(218, 218, 218);
}


/* ---------- main - our_mission ----------*/

.main_our_mission{
    width: 100%;
    overflow: hidden;
    padding-top: 128px;
    padding-left: 60px;
    padding-right: 350px;
}

.main_text_plus_image{
    display: flex;
    flex-direction: row;
    gap: 107px;
}

.main_text{
    display: flex;
    flex-direction: column;
    gap: 38px;
    word-wrap: break-word;
}

.main_text_1{
    font-size: 30px;
}

.main_text_2{
    font-size: 20px;
}

.main_button{
    font-size: 30px;
    width: 751px;
    height: 66px;
    align-self: center;
    border-radius: 50px;
    background-color: #BC5E28;
    border: none;
    cursor: pointer;
}

.main_button:hover{
    background-color: #8f481f;
}

.main_numbers_results{
    padding-top: 82px;
}

.main_res_list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 колонки равной ширины */
    gap: 38px 80px; /* отступы между строками и колонками */
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.main_res_list li {
    text-align: center;
}

.main_nums_list {
    font-size: 50px;
    font-weight: 600;
}

.main_text_list {
    font-size: 30px;
    font-weight: 400;
    white-space: nowrap; /* текст в одну строку */
}

/* ---------- main - how_we_work ----------*/

.main_how_we_work{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 141px;
    padding-left: 60px;
    padding-right: 153px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    min-height: 1024px;
}

.main_hww_images{
    display: flex;
    flex-direction: column;
    gap: 93px;
}

.hww_image_1{
    width: 317px;
    height: 317px;
}

.hww_image_2{
    width: 240px;
    height: 240px;
    margin-left: 267px;
}

.hww_text_info{
    margin-left: 103px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.hww_text_info h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.hww_text_main{
    font-size: 14px;
    text-align: center;
}

.hww_text_list{
    font-size: 23px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    max-width: 705px;
    margin: 0 auto;
    position: relative;
}

.hww_text_list li {
    position: relative;
    padding: 12px 0 0 0;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hww_text_list li:last-child {
    position: relative;
    padding-bottom: 32px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hww_text_list li::after {
    content: '→';
    font-size: 24px;
    color: black;
    margin-left: 20px;
}